/* 섹션 초기화 슬라이드 애니메이션 */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 페이드 인 애니메이션 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* 페이드 아웃 애니메이션 */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* fade-out 애니메이션 설정 */
.card-wrapper.fade-out,
.graph-wrapper.fade-out {
    animation: fadeOut 0.3s forwards ease-in-out;
}

/* 기본 CSS 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1a1a1a;
}

/* 섹션 */
body section {
    max-width: 50vw;
    min-height: 20vh;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    animation: slideDown 0.8s ease-out;
}

/* 섹션 제목 */
section .section-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* 섹션 설명 */
section .section-description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
    color: #80808066;
}

/* 헤더 */
header {
    height: 5rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

header .applicant-name {
    margin-right: 3rem;
}

/* [그래프] */

/* 동적 그래프 컨테이너 */
.graph-section .graph-table {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

/* 각 그래프 Wrapper */
.graph-wrapper {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    animation: fadeIn 1s ease-out;
}

.graph-table .graph-wrapper:last-child::after:hover {
    background-color: dodgerblue;
}

/* 각 그래프 회색 배경 */
.graph-wrapper .graph-background {
    display: flex;
    flex-direction: column-reverse;
    width: 2.5rem;
    height: 20rem;
    background-color: rgba(203, 203, 203, 0.1);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

/* 그래프 막대 */
.graph-background .graph {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    width: 100%;
    height: var(--graph-height, 0);
    background-color: var(--graph-color, dodgerblue);
}

/* 그래프 하단 id */
.graph-id {
    padding-top: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
}

/* 그래프 상단 value */
.graph-value {
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: var(--graph-value-color, dodgerblue);
    font-weight: 600;
}

/* [값 편집] */
/* 카드 테이블 */
.value-card-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* 각 카드 Wrapper */
.card-wrapper {
    position: relative;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
    margin-right: 2rem;
    padding: 1rem;
    border: 0.1rem solid dodgerblue;
    border-radius: 10rem;
    background-color: white;
    animation: fadeIn 1s ease-out;
    transition: background-color 0.4s ease-in-out;
}

/* 카드 hover */
.card-wrapper:hover:not(.editing) {
    background-color: #393939c7;
}

/* 카드 버튼 */
.card-wrapper .card-button {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.card-wrapper .card-actions,
.card-wrapper .card-edit-actions {
    position: absolute;
    display: none;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

/* 카드 편집 모드 */
.card-wrapper.editing .card-edit-actions {
    position: absolute;
    display: flex;
    bottom: -3rem;
}

.card-edit-actions .edit-confirm-button {
    color: dodgerblue;
}

.card-edit-actions .edit-cancel-button {
    color: rgb(123, 123, 123)
}

.card-wrapper:hover:not(.editing) .card-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 카드 id */
.card-wrapper .card-id {
    font-size: 1.1rem;
}

/* 카드 value */
.card-wrapper .card-value {
    font-size: 1.6rem;
    font-weight: 600;
    color: dodgerblue;
}

/* 값 고급 편집 */
.edit-advanced-table {
    display: flex;
}

.edit-advanced-table .apply-advanced-value-button,
.add-value-section button {
    all: unset;
    background-color: #cfcfcf66;
    border-radius: 20rem;
    color: white;
    text-align: center;
    margin-left: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.edit-advanced-value-section .advanced-value-textarea {
    width: 43rem;
    height: 20rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

.edit-advanced-value-section .advanced-value-textarea::placeholder {
    color: #80808083;
}

/* [값 추가] */
/* 진입화면 또는 데이터가 없을 때 */
.no-value {
    margin-top: 4rem;
}

.add-value-section input {
    all: unset;
    margin-right: 1rem;
    padding-left: 1rem;
    width: 15rem;
    height: 3.5rem;
    font-size: 1.1rem;
    line-height: 4rem;
    border-bottom: 0.08rem solid #5c5c5c66;
    transition: border-bottom-color 0.3s ease-in;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-value-section input::placeholder {
    color: #80808066;
    opacity: 1;
}

.add-value-section input:focus {
    border-bottom: 0.1rem solid dodgerblue;
}

.add-value-section .active-button,
.edit-advanced-value-section .active-button {
    background-color: dodgerblue;
    color: white;
}

.add-value-section button:hover {
    background-color: #1873cc;
}