/* 기본 CSS 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body section {
    max-width: 80vw;
    min-height: 30vh;
    margin: 0 auto;
}

/* 헤더 */
header {
    height: 5rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

header .applicant-name {
    margin-right: 3rem;
}

/* 유저 데이터 */
.user-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.edit-advanced-value .advanced-value-textarea {
    width: 80%;
    height: 30rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
    /* padding 포함한 width 계산 */
}

.edit-advanced-value .apply-advanced-value-button {}